.position {
  border:  2px solid  grey;
  border-radius: 25px;
  display: flex;
  min-height: calc(100vh - 205px);
  padding: 1rem;
  flex-direction: column;
  max-width: 1200px;
  min-width: 420px;
  margin: 1.5rem auto;
  h2{
    margin: 1rem;
  }
 }
button {
  margin: 1rem 1rem;
    width: 120px;
    height: 40px;
    background-color: white;
    color: grey;
    &:hover {
      background-color: grey;
      color: azure;
    }
    &:active {
      background-color: grey;
      color: azure;
    }
}
.border {
  border: 1px solid red;
  height: 100%;
}
.step-container {
  padding: 1rem;
  min-height: calc(100vh - 405px);
  display: flex;
  flex-direction: column;
}
.step-body {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-footer {
  display: flex;
  align-self: flex-end;
}
.nodisplay {
  display: none!important;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
